.block-energy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: var(--radius);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0212);
}

.block-energy img {
    width: 60px;
    height: 60px;
    border-radius: var(--radius);
}

.energy-quantity {
    font-size: var(--sizeEnergyQuantity);
    font-weight: 700;
    margin-block-end: 0;
}

.energy-category {
    font-size: var(--sizeEnergyCategory);
    font-weight: 400;
}