:root {
    /*Navigation*/
    --blackNav: #020203;
    --white: #FFFFFF;

    /*Background-color graphs*/
    --gray: #FBFBFB;
    --redBar: #E60000;
    --redLine: #FF0000;
    --blackRadar: #282D30;

    /*COLOR Bar Graphs*/
    --bar1:#282D30;
    --bar2:#E60000;

    /*FONT SIZE*/
    --sizeTab: 1.5rem;
    --size-copyright: 0.75rem;
    --sizeH1: 3rem;
    --sizeH2: 1.5rem;
    --sizeEnergyQuantity: 1.25rem;
    --sizeEnergyCategory: 0.875rem;

    /*COLOR TEXT*/
    --firstName: #E60000;

    /*BORDER RADIUS*/
    --radius: 5px;
}